/*----- font link in css-------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/*----- font link in css-------*/

.fixed-header, .fixed-footer{
    width: 100%;       
    background: #2F2FA2;
    padding: 10px;   
}

body > header {
    flex-flow: row nowrap;
}

img{
    width:220px;
    border-radius: 50%;
    border: dashed;
}
#MyList{
    color:white;
    text-align: center;
    letter-spacing: 30px;
    font-family: 'Fredoka One', cursive;

} 
/* I need to fix the MyList, since it#s not appearing in the header */

.fixed-header {
    color: #fff;
    padding: 20px 25px;
    display:flex;
    justify-content: space-between;   
}


body{     
       
}

.p {background: rgb(232, 119, 54)32);
    background: linear-gradient(90deg, rgb(216, 114, 55) 0%, rgba(9,9,121,1) 52%, rgba(153,115,142,1) 100%);
    color: #fff;
    border-radius: 0;
    margin: 30px 70px;
    padding: 20px 40px;
    text-align: center; 
}



/*----------Krupa's code-------------*/
/*
.container {
    padding: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  from button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: orange;
  }
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    color: blue;
    background: orange;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  */
  /*----------Krupa's code-------------*/

.fixed-footer{
    bottom: 0;
    color: #fff;
    padding-top: 60px;
    

} 